.body 
{
margin: 0px;
padding: 0px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    margin-top: 10px;
}

.img-box {
    position: relative;
    width: 100%;
    padding-top: 100%; /* makes images square */
    overflow: hidden;
    border-radius: 4px;
}

.img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Overlay box like "+16" */
.img-box.more .more-count {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

.whatwedo 
{
 padding: 0px;    
}

#gico
{
  text-color: black;
}

a 
{
  text-decoration: none;
}
    
body 
{
  align-content: center;
  align-items: center;
  text-align: center;
}

#text-button 
{
  color: white;
}

button 
{
  background-color: darkslategray;
  border: 0px;
  height: 20px;
  font-size: 18;
}

h2 
{
  size: 48px;
}


.calltext 
{
color: white;
background-color: gray;
text-align: center;
align-items: center;

}

.header 
{
    background-color: lightgray;
    height: 165px;
}


.topnav 
{
    background-color: darkslategray;
    height: 25px;
}
.link-topnav
{
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.link-topnav:hover {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
}
#unordered 
{
    align-items: flex-start;
    align-content: flex-start;
    text-align: start;
}

.columns {
    display: flex;
    gap: 20px;       /* space between columns */
}

.column {
    flex: 1;         /* equal width columns */
}




