.body 
{
margin: 0px;
padding: 0px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* top row has 2 large images */
    grid-auto-rows: 150px; /* base row height (you can adjust) */
    gap: 6px;
    margin-top: 10px;
}

/* First two images: large */
.image-grid .img-box:nth-child(1),
.image-grid .img-box:nth-child(2) {
    grid-row: span 2;   /* make them tall */
}

/* Next images go full width underneath but arranged in 3 columns */
.image-grid .img-box:nth-child(n+3) {
    grid-column: span 1;
    height: 100%;
    padding-top: 100%; /* maintain square shape */
}

.img-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
}

.img-box img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-box.more .more-count {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}

.whatwedo 
{
 padding: 0px;    
}

#gico
{
  text-color: black;
}

a 
{
  text-decoration: none;
}
    
body 
{
  align-content: center;
  align-items: center;
  text-align: center;
}

#text-button 
{
  color: white;
}

button 
{
  background-color: darkslategray;
  border: 0px;
  height: 20px;
  font-size: 18;
}

h2 
{
  size: 48px;
}


.calltext 
{
color: white;
background-color: gray;
text-align: center;
align-items: center;

}

.header 
{
    background-color: lightgray;
    height: 165px;
}


.topnav 
{
    background-color: darkslategray;
    height: 25px;
}
.link-topnav
{
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.link-topnav:hover {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
}
#unordered 
{
    align-items: flex-start;
    align-content: flex-start;
    text-align: start;
}

.columns {
    display: flex;
    gap: 20px;       /* space between columns */
}

.column {
    flex: 1;         /* equal width columns */
}






